SECRET_KEY=s
DEBUG=True
ALLOWED_HOSTS=.localhost, 127.0.0.1, .stackschools.com
DB_NAME=
DB_USER=U_HELLO
DB_PASSWORD=p
DB_HOST=127.0.0.1
STELLAR_ISSUER_SECRET=SBBWCS3NHSW4DARMSYGPNIJPFWOVSEHS6OQZMM2NCXGGX66EJQJ5T473
STELLAR_DISTRIBUTOR_SECRET=SDVWI4AHFPMMK2SRAJRB6MGDLF4CIOJ247LYQCIMFJ7QUM54P2JZ53JS