{% extends 'base.html' %}
{% load thumbnail %}

{% block page_header %}
{% include 'frontendapp/_navbar.html' %}
{% endblock %}

{% block content %}
<div class="row g-4">
  <div class="col-lg-4">
    <div class="surface-card h-100 text-center">
      <div class="avatar avatar-lg mx-auto mb-3">
        {% if current_user.image %}
          {% thumbnail current_user.image "180x180" crop="center" as user_thumb %}
            <img src="{{ user_thumb.url }}" alt="@{{ current_user.username }}">
          {% endthumbnail %}
        {% else %}
          {{ current_user.username|slice:":2"|upper }}
        {% endif %}
      </div>
      <h2 class="h4 fw-bold mb-1">{{ current_user.first_name }}</h2>
      <p class="text-secondary mb-3">@{{ current_user.username }}</p>
      <div class="row g-3">
        <div class="col-6">
          <div class="metric-card">
            <p class="metric-label">Balance</p>
            <p class="metric-value">{{ current_user.balance }}</p>
          </div>
        </div>
        <div class="col-6">
          <div class="metric-card">
            <p class="metric-label">Exchange</p>
            <p class="metric-value">{{ current_user.exchange.code }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <ul class="nav nav-pills nav-pills-soft gap-2 mb-3" id="profileTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="offerings-tab" data-bs-toggle="tab" data-bs-target="#offerings-tab-pane" type="button" role="tab">Offerings</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="wants-tab" data-bs-toggle="tab" data-bs-target="#wants-tab-pane" type="button" role="tab">Wants</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="transactions-tab" data-bs-toggle="tab" data-bs-target="#transactions-tab-pane" type="button" role="tab">Transactions</button>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="offerings-tab-pane" role="tabpanel">
        {% include 'frontendapp/parts/_listings.html' with listing_type='O' %}
      </div>
      <div class="tab-pane fade" id="wants-tab-pane" role="tabpanel">
        {% include 'frontendapp/parts/_listings.html' with listing_type='W' %}
      </div>
      <div class="tab-pane fade" id="transactions-tab-pane" role="tabpanel">
        {% include 'frontendapp/parts/_transactions.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
