{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %} 
{% block css %}
<link rel="stylesheet" href="{% static 'select2/select2.min.css' %}">
{% endblock %}

{% block content %}
<h3 class="text-muted">Balance: {{request.user.balance}}$</h3>
<form method="post" action="."> {% csrf_token %}
<div class="card">
    <div class="card-body">
    <h5 class="card-title">Record Transaction</h5>
    {{ transaction_form|crispy }}
    <button type="submit" class="btn btn-primary">Confirm</button>
    </div>
</div>
</form>

<p>Total money in existence:${{total}}</p>
<p class="lead">Latest 5 Transactions</p>
{% include 'frontendapp/parts/_transactions.html' %}
{% endblock %}

{% block js %}
<script src="{% static 'select2/select2.min.js' %}"></script>
<script>
    $(function () {
        $('#id_from_user').select2();
        $('#id_to_user').select2();
        // $('#id_buyer').on('select2:select', function (e) {
        //     $.ajax({ 
        //         url: "{% url 'frontendapp:ajax_views' 'get_balance' %}", 
        //         data: {'username': e.params.data.id},
        //         success: function (data) {
        //             $("#user_balance").html(data);
        //         }
        //     });
        // });

    });
</script>
{% endblock %}